@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: #000000;
  padding: 10px;
  /* color: rgb(255, 255, 255); */
  /* padding: 1px 1px; */
}

.headwords {
  color: white;
  padding-right: 1pc;
}

.logoo {
  font-weight: bolder;
  font-size: 40px;
  padding-right: 400px;
  color: white;
}

.keja {
  color: rgb(7, 165, 39);
}

.navlink {
  font-size: 26px;
  color: white;
}
.navlink:hover{
  color: rgb(7, 165, 39);
}

.dropdown {
  padding-left: 10px;


}

.search {
  padding-right: 70px;
}

/* .background {
  background-image: "src/images/key-2114455_1280 (1).jpg";
} */

.team {
 
  color: rgb(7, 165, 39);
}

.aboutUs {
  text-align: center;
  color: rgb(7, 165, 39);
  font-size: 50px;
  padding-top: 3pc;
}

.about {  
  text-align: center;
  justify-content: center;
  padding-top: 10pc;
  padding-bottom: 10pc;
  padding-left: 20px;
  padding-right: 20px;
  
}

.aboutGrid {
  display: flex;
  background-color: #000000;
  color: white;
}

.properties {
  padding: 50px;
}

.propertiesHead {
  text-align: center;
  color: rgb(7, 165, 39);
  font-size: 50px;
}

.mainDiv {
  display: flex;
 text-align: center;
 padding: 100px 100px;


}
.list {
  text-decoration: none;
}

.maincontact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.contact {
  text-align: center;
  color: rgb(0, 0, 0);
  align-items: center;
  padding-top: 5pc;
  padding-bottom: 5pc;

}

.contacthead {
  text-align: center;
  color: rgb(7, 165, 39);
  font-size: 50px;
  padding-top: 5pc;
}
.imagediv{
  background-image: 
  url(
"https://cdn.pixabay.com/photo/2021/08/15/06/51/real-estate-6546974_1280.png");
  background-size: "cover";
  height: 100vh;
  margin-top: 0px;
  margin-right: 50px;
  padding-left: 180px;
  opacity: -60pc;
  transition: opacity 1s ease-in-out;

  font-size:50px;
  background-repeat:no-repeat; 
}

.footer {
  text-align: center;
  align-items: center;
 display: flex;
 align-items: center;
 justify-content: center;
  padding-top: 10pc ;
  padding-bottom: 5pc;
  background-color: rgb(0, 0, 0);
  color: white;

 
}

.footercontacts {
  text-align: left;
  align-items: center;
  padding-right: 30pc;
}

.rights {
  padding-right: 10pc;
}
.landingText {
  font-size: 130px;
  font-weight: 900;
  color: #000000;
}
.landingWords {
  color:rgb(0, 0, 0);
  font-size: 30px;
  font-weight: lighter;
  
}

.bttn {
  margin-left: 70pc;
}